"use strict"

extends layout

block content
  h1 Hello World! #{message}
  h2 = message
  
  p 這是一個文章段落。
  img(src='http://www.ticket.com.tw/pics/dance/18478.gif')
  
  h3 hi
    p in hi

  h4 aaa #{message}
    
  
     
